<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
  <body>
      <%- include('../../layout/header') %>
    <main class="searches">
      <h2> New Search </h2>
      <form class="search-form" action="/show" method="post">
        <label>Movie Search: <input type="text" name="movieSearch" /> </label>
        <button>Submit</button>
      </form>
    </main>

    
  </body>
</html>

