<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
  <body>
      <%- include('../../layout/header') %>
    <main class="searches">
      <h2 id="poptitle">New Search</h2>
      <div id="searchcontain">
      <img class="projector" src="../../styles/images/projector.jpg">
      <form class="search-form" action="/show" method="post">
        <label id="labelSearch">Movie Search: 
          <input type="text" name="movieSearch" id="movieSearch"/> 
        </label>
        <button id="searchbut">Submit</button>
      </form>
    </div>
    </main>

    
  </body>
</html>

