<form action="<%- `/details/${movie.id}` %>" method="post">
  <lable><input type="text" name="userName" placeholder="userName" value="userName"></lable>
  <lable><textarea type="text" name="review_body" placeholder="Your Review Here" value=""></textarea></lable>
  <input type="hidden" name="movie_id" value="<%- movie.id %>"/>

</form>