<!DOCTYPE html>
<html>
<head>
  <title>Movie App</title>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css"/>
  <link rel="stylesheet" href="/styles/group.css"/>
</head>
<body id="bodyStuff"></body>
<header>
  <div id="headcontain">
    <nav id = "hamburger" role ="navigation">
      <div id="navToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="nav">
          <li><a href='/'>Home</a></li>
          <li><a href='/new'>Search Movies</a></li>
          <li><a href='/mymovies'>My Movies</a></li>
          <li><a href='/about'>About Us</a></li>
        </ul>
      </div>
    </nav>
    <img id="headstar" src="../styles/images/star1.png">
    <div id="headtitle"><a href='/'>Star-Flix</a></div>
  </div>
  <div id="subTitle"><h2>About Us</h2></div>
</header>
<main id="mainStuff">
  <%- include('./group') %>
</main>
<footer>
  <div id="footcontain">
    <nav id = "" role ="navigation">
      <div id="footnavToggle">
          <ul id="footnav">
          <li><a href='/'>Home</a></li>
          <li><a href='/new'>Search Movies</a></li>
          <li><a href='/mymovies'>My Movies</a></li>
          <li><a href='/about'>About Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="bottomImg"><img src="/styles/images/lightsaber.png" alt="lightsaber"/></div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/scripts/group.js"></script>
</body>
</html>