<div>
  <div id="group"><img src="/styles/images/group.jpg" alt="Group Photo">
  </div>
  <div id="nate" class="individual">
    <div class="holly">
      <img src="/styles/images/star.png" alt="star" class="star">
      <a class="toggle_nate" href="#nate_content"><img src="/styles/images/nate.jpg" alt="Nate Photo" id="natePhoto"></a>
      <h3>Nate Tibbals</h3>
    </div>
    <div class="inDet" id="nateContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>Bachelor’s in Communications</li>
        <li>10 years sales experience</li>
      </ul>
      <p>Hi, I’m Nate Tibbals. I’m a passionate, driven Software Developer with a strong customer centric background. I graduated from Eastern Washington University with a bachelor’s in Communication and a minor in Business Administration. My passion for technology stems from my experience in solution sales where I’ve worked in Telecommunication, Insurance and Online advertising. I’ve always enjoyed identifying problems and finding a solutions. As a developer, I enjoy having the opportunity to grow and learn from those around me as well as combine my past experiences in tackling problems from a different angle.</p>
    </div>
  </div>
  <div id="clarice" class="individual">
    <div class="holly">
      <img src="/styles/images/star.png" alt="star" class="star">
      <img src="/styles/images/clarice.jpg" alt="Clarice Photo" id="claricePhoto">
      <h3>Clarice Costello</h3>
    </div>
    <div class="inDet" id="clariceContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>Nanny, Private Families, 3+ years</li>
        <li>Starbucks 2 years</li>
      </ul>
      <p>My name is Clarice Costello. I am a full stack software developer based in Bellevue with a background in childcare and food service. I am proficient in Javascript, HTML, CSS and SQL.</p>
    </div>
  </div>
  <div id="jason" class="individual">
    <div class="holly">
      <img class="star" src="/styles/images/star.png" alt="star">
      <img src="/styles/images/jason.jpg" alt="Jason Photo" id="jasonPhoto">
      <h3>Jason Few</h3>
    </div>
    <div class="inDet" id="jasonContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>15 years Social Service and Social Justice experience</li>
        <li>I like motorcycles</li>
      </ul>
      <p>my name is Jason Few. I have always been interested in tech, but the thought of learning to program is very intimidating.  After working on social justice issues for many years and feeling proud of my contribution to society, I decided I wanted to spend the rest of my life making a difference in a new way.  Software is one of the most important developments in human history, and I am excited to get to be a part of its evolution. I am a productive, creative, punctual and team focused individual.  I have received awards from every employer I have workd for, I received a plaque of appreciation from the State of Washington and King County, I also received an award for the work I did developing reentry programming for individuals returning to our communities from prison.  I bring a lot of creativity, friendliness and results to my employers. Because I have a proven and documented track record of bringing results in a professional and team focused manner, I can provide every performance evaluation from the past 15 years that demonstrate that I consistently go above and beyond for my employer.  I can guarantee a substantial return on your investment in me.</p>
    </div>
  </div>
  <div id="mike" class="individual">
    <div class="holly">
      <img class="star" src="/styles/images/star.png" alt="star">
      <img src="/styles/images/mike.jpg" alt="Michael Photo" id="mikePhoto">
      <h3>Michael Kelly</h3>
    </div>
    <div class="inDet" id="mikeContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>11 years U.S. Army Veteran</li>
        <li>11 years DOD trained BMET</li>
        <li>3 years Imaging BMET</li>
      </ul>
      <p>After 7 years of working for a computer reail industry, culminating to become an Assistant Manager at a computer store.  Joined the U.S. Army following the events of 11 September 2001, going to Basic Training in  5 November 2002.  Was first trained as a Communications Soldier and later was retrained as a BMET (Biomedical Equipment Technician).  Graduated 2nd in class at the DOD BMET school.  Part of the team that started the development of the AMEDD Medical Maintenance Management Program, which started giving visibility on medical equipment readiness throughout the U.S. Army.  This also lead to a training program that gave Soldiers much needed training on the Management of Medical Maitenance prior to deployment.  Specialized in maintaining PMI (patient movement items) and later as a civilian in Imaging equipment.  Now studying at Code Fellows with current knowledge in Javascript, CSS, HTML, and will be soon specializing in C# ASP.net.</p>
    </div>
  </div>
</div>
  