<div>
  <div id="group"><img src="/styles/images/group.jpg" alt="Group Photo">
  </div>
  <div id="nate" class="individual">
    <div class="holly">
      <img src="/styles/images/star.png" alt="star" class="star">
      <a class="toggle_nate" href="#nate_content"><img src="/styles/images/nate.jpg" alt="Nate Photo" id="natePhoto"></a>
      <h3>Nate Tibbals</h3>
    </div>
    <div class="inDet" id="nateContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div id="clarice" class="individual">
    <div class="holly">
      <img src="/styles/images/star.png" alt="star" class="star">
      <img src="/styles/images/clarice.jpg" alt="Clarice Photo" id="claricePhoto">
      <h3>Clarice Costello</h3>
    </div>
    <div class="inDet" id="clariceContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>Nanny, Private Families, 3+ years</li>
        <li>Starbucks 2 years</li>
      </ul>
      <p>My name is Clarice Costello. I am a full stack software developer based in Bellevue with a background in childcare and food service. I am proficient in Javascript, HTML, CSS and SQL.</p>
    </div>
  </div>
  <div id="jason" class="individual">
    <div class="holly">
      <img class="star" src="/styles/images/star.png" alt="star">
      <img src="/styles/images/jason.jpg" alt="Jason Photo" id="jasonPhoto">
      <h3>Jason Few</h3>
    </div>
    <div class="inDet" id="jasonContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div id="mike" class="individual">
    <div class="holly">
      <img class="star" src="/styles/images/star.png" alt="star">
      <img src="/styles/images/mike.jpg" alt="Michael Photo" id="mikePhoto">
      <h3>Michael Kelly</h3>
    </div>
    <div class="inDet" id="mikeContent">
      <ul>
        <li>JavaScript, CSS, HTML</li>
        <li>11 years U.S. Army Veteran</li>
        <li>11 years DOD trained BMET</li>
        <li>3 years Imaging BMET</li>
      </ul>
      <p>After 7 years of working for a computer reail industry, culminating to become an Assistant Manager at a computer store.  Joined the U.S. Army following the events of 11 September 2001, going to Basic Training in  5 November 2002.  Was first trained as a Communications Soldier and later was retrained as a BMET (Biomedical Equipment Technician).  Graduated 2nd in class at the DOD BMET school.  Part of the team that started the development of the AMEDD Medical Maintenance Management Program, which started giving visibility on medical equipment readiness throughout the U.S. Army.  This also lead to a training program that gave Soldiers much needed training on the Management of Medical Maitenance prior to deployment.  Specialized in maintaining PMI (patient movement items) and later as a civilian in Imaging equipment.  Now studying at Code Fellows with current knowledge in Javascript, CSS, HTML, and will be soon specializing in C# ASP.net.</p>
    </div>
  </div>
</div>
  