<div id="mainHead">
<div id="mainTitle"></div>
<div><nav><ul>
  <li><a href="">Home</a></li>
  <li><a href="">Search Movies</a></li>
  <li><a href="">Now Playing</a></li>
  <li><a href="">My Movies</a></li>
  <li><a href="">About Us</a></li>
</ul></nav></div>
<img src="" alt="Movie Site Logo">
</div>