<div id="mainHead">
<div id="mainTitle"></div>
<div><nav><ul>
  <li><a href="/">Home</a></li>
  <li><a href="/new">Search Movies</a></li>
  <li><a href="/new">Now Playing</a></li>
  <li><a href="/new">My Movies</a></li>
  <li><a href="/aboutus">About Us</a></li>
</ul></nav></div>
<img src="" alt="Movie Site Logo">
</div>