<ul id="savedMovies">
    <% popularMovies.forEach(movie => { %>
      <li class="movies" data-id="<%= popularMovies.id %>">
        <img src="<%= movie.image_url %>">
        <h3><%= movie.title %></h3>
      </li>
    <% }) %>
  </ul>