<!DOCTYPE html>
<html>
<head>
  <%- include('./layout/head') %>
</head>
<body id="bodyStuff"></body>
<header>
  <%- include('.layout/header') %>
  <div id="subTitle"></div>
</header>
<main id="mainStuff">
  <%- include('.layout/home') %>
</main>
<footer>
  <%- include('./layout/footer') %>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="../../public/scripts/app.js"></script>
<foot>
</foot>
</html>