<!DOCTYPE html>
<html>
  <%- include('../layout/head') %>
<body id="bodyStuff"></body>
  <%- include('../layout/header') %>
  <div id="subTitle"></div>
<main id="homeContent">
  <%- include('../layout/home') %>
</main>
<footer>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="../../public/scripts/app.js"></script>
</body>
</html>