* {
  box-sizing: border-box;
}

@keyframes animate-background {
  from{ background-position: 120% 70px, 0px 0px, 0px;}
  to {background-position: -20% 70px, -1000px 0px, -500px 0px;}
}

body {

  background: url(images/corn1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; 
  background-size: cover;
  color: #ffa500;
  font-family: 'Bubblegum Sans', cursive;

}

/* desktop view */
@media screen and (min-width: 960px) {
body {
  background: url(images/corn1.jpg);
  background-attachment: fixed;
  color: #0072FF;
}
.contra-stars {
  background-image: url("images/space.png");
  width: 100%;
  background-position: 100%;
  animation: animate-l1 linear .2s infinite;
}
.contra-start {
  background-image: url("images/open-curt1.png");
  width: 100%;
}
.contra1 {
  background-image: url("images/lightsaber1.png");
  transform: rotate(90deg) translate(-2px, -1px);
  background-position: -13% 30px;
  background-repeat: no-repeat, repeat, repeat;
  animation: shake .59s cubic-bezier(.95,.95,.95,.95) infinite;
}
.contra2 {
  background-image: url("images/lightsaber.png");
  transform: rotate(45deg) translate(-2px, -1px);
  background-position: 60% 70px;
  background-repeat: no-repeat, repeat, repeat;
  animation:  cubic-bezier(.36,.07,.19,.97) infinite;
}
.contra3 {
  opacity: 0;
}

@keyframes animate-l1{
  from{ background-position: 0 -100%}
  to {background-position: 0 100%}
}

}
