.details-container {
  position: relative;
}
.pop-details {
  box-sizing: border-box;
  width: 19.3vw;
  height: 29vw;
  overflow: auto;
  background-color: rgba(136, 136, 136, 0.952);
  margin-top: 1vw;
  margin-left: 1vw;
  border-radius: 0.3em;
  padding: 1vw;
  position: absolute;
  top: 0vw;
  left: 0.7vw;
  z-index: 1;
}

.pop-hide {
  display: none;
}

h3 {
  margin-top: 0.5em;
  font-size: 1.2em;
}

.pop-details p {
  padding-top: 1vw;
}

.pop-details button {
  margin: 0px;
  width: 10vw;

}

