#subTitle {
  width: 87vw;
  color: red;
  background-color: silver;
  text-align: center;
}

#mainStuff {
  background-color: #000000;
  width: 87vw;
}

#mainStuff>div {
  position: relative;
  top: 0vw;
  left: 0vw;
  height: 272vw;
}

#group {
  position: relative;
  top: 15vw;
  left: 6vw;
  width: 75vw;
}

#group>img {
  position: relative;
  top: 0vw;
  left: 0vw;
  width: 75vw;
}

.holly {
  position: relative;
  top: 16vw;
  left: 6vw;
  width: 40vw;
  height: 37.5vw;
  margin-bottom: -20vw;
  z-index: 5;
}

.star {
  position: relative;
  top: 0vw;
  left: 0vw;
  width: 40vw;
}

@keyframes spinningStar {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.holly:hover>.star{
  transform: rotate(0deg);
  transform-origin: 19.5vw 21vw;
  animation-name: spinningStar;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#natePhoto {
  position: relative;
  top: -27vw;
  left: 9.2vw;
  width: 21vw;
  border-radius: 13vw;
}

#claricePhoto {
  position: relative;
  top: -26vw;
  left: 9.2vw;
  width: 21vw;
  height: 20vw;
  border-radius: 13vw;
}

#jasonPhoto {
  position: relative;
  top: -27vw;
  left: 9.2vw;
  width: 21vw;
  border-radius: 13vw;
}

#mikePhoto {
  position: relative;
  top: -27vw;
  left: 9.2vw;
  width: 21vw;
  border-radius: 13vw;
}

h3 {
  position: relative;
  top: -21vw;
  left: 0vw;
  color: white;
  font-size: 3vw;
  text-align: center;
}

.inDet {
  position: relative;
  top: 13vw;
  left: 0vw;
  color: white;
}

.inDet>ul {
  position: relative;
  top: -9vw;
  left: 47vw;
  width: 40vw;
}

.inDet>ul>li {
  position: relative;
  top: 0vw;
  left: 0vw;
  width: 40vw;
  font-size: 3vw;
  margin-bottom: 3vw;
}

.inDet>p{
  position: relative;
  top: 4vw;
  left: 0vw;
  font-size: 2vw;
}