@font-face {
  font-family: borg-9;
  src: url(/styles/fonts/borg-9/borg9.ttf);
}
@font-face {
  font-family: lovecraftDiary;
  src: url(/styles/fonts/lovecrafts-diary/lovecraftsdiary.ttf)
}
@font-face {
  font-family: halo;
  src: url(/styles/fonts/halo3/Halo3.ttf)
}
@font-face {
  font-family: dumble3;
  src: url(/styles/fonts/dumbledor/dum3/dum3out.ttf)
}
@font-face {
  font-family: undev;
  src: url(../styles/fonts/undeveloped/Undeveloped.ttf)
}
@font-face {
  font-family: bedebo;
  src: url(../styles/fonts/b-de-bonita/b-de-bonita-shadow.ttf)
}
@font-face {
  font-family: bullpen;
  src: url(../styles/fonts/bullpen/bullpen\ 3d.ttf)
}
body {
  height: 265vw;
}
#headtitle {
  text-align: center;
  font-family: borg-9;
  padding-left: 3vw;
  color: #ffa500;
}
header {
  position: fixed;
  width: 100%;
  /* height: auto !important; */
  min-height: 50px;
  background-color: #222;
  font-size: 6vw;
  padding-top: 1vw;
  z-index: 10;
}
#headcontain {
   text-align: left;
  width: 100%;
}
#header {
  text-align: left;
  padding: 2vw;
}
a {
text-decoration: none;
color: #00eeff;
transition: color 0.3s ease;
}
span {
  background-color: #00eeff;
}
a:hover {
  color: #ffa500;
}
#nav{
  position: absolute;
  width: 43vw;
  right: 33vw;
  margin: 0 -120px 0 -307px;
  padding: 15px;
  opacity: .95;
  background: #222;
  border-radius: .5em;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(0, -260%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 2;
  }

  #nav li {
  padding: 10px 0;
  font-size: 22px;
  }
  #navToggle input:checked ~ ul {
  transform: none;
  }
  #navToggle {
  display: block;
  position: relative;
  padding-right: 10px;
  float: right;
  right: 10px;
  z-index: 1;
}

#navToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#navToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #00eeff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  background: 0.5s cubic-bezier(0.77, 0.2,0.05,1.0); 
  opacity: 0.55s ease;
}
#headstar {
  float: left;
  height: 3vw;
}

#navToggle span:first-child {
  transform-origin: 0% 0%;
}

#navToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#navToggle input:checked ~ span {
/* opacity: 1; */
transform: rotate(45deg) translate(-2px, -1px);
}

#navToggle input:checked ~ span:nth-last-child(3) {
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
} 

#navToggle input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(0, -1px);
}
#headstar {
  float: left;
  height: 3vw;
}



/* greater than mobile - desktop view */
@media screen and (min-width: 770px) {
  #headtitle {
    text-align: center;
    font-family: borg-9;
    padding-left: 3vw;
    color: #ffa500;
    padding-left: 3vw;
    color: #00eeff;
    font-size: 3vw;
  }
  #headtitle:hover {
    font-family: lovecraftDiary;
  }
  header {
    position: fixed;
    width: 100%;
    /* height: auto !important; */
    min-height: 50px;
    background-color: #222222;
    font-size: 6vw;
    padding-top: .5vw;
  }
  #headcontain {
    text-align: right;
    width: 100%;
  }
  a {
  text-decoration: none;
  color: #00eeff;
  transition: none;
  }
  a:hover {
    color: #ffa500;
  }
  #nav{
    /* display: flex; */
    display: grid;
    grid-template-columns: 18% 34% 30% 21%;
    position: relative;
    width: 45vw;
    margin: 0 0 0 0;
    opacity: 1;
    background: none;
    border-radius: .5em;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: none;
    transition: none;
    padding: 0vw;
    top: 0vw;
    right: 6vw;
    height: 2vw;
    }
    
    #nav li {
      width: 17vw;
      font-size: 2vw;
      font-family: halo;
      align-self: center;
      position: relative;
      bottom: 3vw;
      top: 0vw;
      padding: 0vw;
    }
    #nav li:nth-child(1) {
      width: 7vw;
    }
    #nav>li:hover {
      font-size: 2vw;
      font-family: lovecraftDiary;
    }
    #navToggle input:checked ~ ul {
    transform: none;
    }
    #navToggle {
    display: block;
    position: relative;
    width: 49vw;
    padding-right: 0px;
    float: right;
    right: 0px;
    z-index: 1;
  }
  
  #navToggle input {
    display: none;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #navToggle span {
    display: none;
  }

  /* additions */
}

/*=============my stuff==================*/

@keyframes colorAnima {
  0% {background-image: repeating-linear-gradient(red, yellow 1%, blue 2%);}
  5% {background-image: repeating-linear-gradient(red, yellow 2%, green 3%);}
  10% {background-image: repeating-linear-gradient(red, yellow 4%, green 6%);}
  15% {background-image: repeating-linear-gradient(red, yellow 6%, green 9%);}
  20% {background-image: repeating-linear-gradient(red, yellow 8%, green 12%);}
  25% {background-image: repeating-linear-gradient(red, yellow 10%, green 15%);}
  30% {background-image: repeating-linear-gradient(red, yellow 12%, green 18%);}
  35% {background-image: repeating-linear-gradient(red, yellow 14%, green 21%);}
  40% {background-image: repeating-linear-gradient(red, yellow 16%, green 24%);}
  45% {background-image: repeating-linear-gradient(red, yellow 18%, green 27%);}
  50% {background-image: repeating-linear-gradient(red, yellow 20%, green 30%);}
  55% {background-image: repeating-linear-gradient(red, yellow 18%, green 27%);}
  60% {background-image: repeating-linear-gradient(red, yellow 16%, green 24%);}
  65% {background-image: repeating-linear-gradient(red, yellow 14%, green 21%);}
  70% {background-image: repeating-linear-gradient(red, yellow 12%, green 18%);}
  75% {background-image: repeating-linear-gradient(red, yellow 10%, green 15%);}
  80% {background-image: repeating-linear-gradient(red, yellow 8%, green 12%);}
  85% {background-image: repeating-linear-gradient(red, yellow 6%, green 9%);}
  90% {background-image: repeating-linear-gradient(red, yellow 4%, green 6%);}
  95% {background-image: repeating-linear-gradient(red, yellow 2%, green 3%);}
  100% {background-image: repeating-linear-gradient(red, yellow 1%, blue 2%);}
}

#subTitle {
  width: 100vw;
  color: #00eeff;
  background-image: repeating-linear-gradient(red, yellow 1%, blue 2%);
  text-align: center;
}

#subTitle:hover {
  width: 100vw;
  color: #00eeff;
  text-align: center;
  background-image: repeating-linear-gradient(rgba(255, 0, 102, 0.2), rgba(255, 255, 102, 0.2) 1%, rgba(111, 255, 51, 0.2) 2%);
  animation-name: colorAnima;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}

#subTitle>h2 {
  position: relative;
  text-align: center;
  font-family: halo;
}
#subTitle>h2:hover {
  font-family: lovecraftDiary;
}

#mainStuff {
  width: 100vw;
  background: url(/styles/images/space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; 
  background-size: cover;
  color: #ffa500;
  height: 285vw;
}

#mainStuff>div {
  background: url(/styles/images/futuristic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  top: 4vw;
  left: 6vw;
  height: 285vw;
  width: 85vw;
}

#group {
  position: relative;
  top: 15vw;
  left: 6vw;
  width: 75vw;
  height: 60vw;
}

#group>img {
  position: relative;
  top: 0vw;
  left: 4vw;
  width: 60vw;
}

.individual {
  position: relative;
  top: 9vw;
}
.holly {
  position: relative;
  top: 0vw;
  left: 1vw;
  width: 40vw;
  height: 42.5vw;
  z-index: 5;
  margin-bottom: 0vw;
}

.star {
  position: relative;
  top: 0vw;
  left: 0vw;
  width: 40vw;
}

@keyframes spinningStar {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.holly:hover>.star{
  transform: rotate(0deg);
  transform-origin: 19.5vw 21vw;
  animation-name: spinningStar;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


#natePhoto {
  position: relative;
  top: -27vw;
  left: 9.2vw;
  width: 21vw;
  border-radius: 13vw;
}

#claricePhoto {
  position: relative;
  top: -26vw;
  left: 9.2vw;
  width: 21vw;
  height: 20vw;
  border-radius: 13vw;
}

#jasonPhoto {
  position: relative;
  top: -27vw;
  left: 9.2vw;
  width: 21vw;
  border-radius: 13vw;
}

#mikePhoto {
  position: relative;
  top: -27vw;
  left: 9.2vw;
  width: 21vw;
  border-radius: 13vw;
}

h3 {
  position: relative;
  top: -21vw;
  left: 0vw;
  color: white;
  font-size: 3vw;
  text-align: center;
  font-family: bedebo;
}

.inDet {
  position: relative;
  top: -23vw;
  left: 0vw;
  height: 34vw;
  color: yellow;
}

.inDet>ul {
  position: relative;
  top: 0vw;
  left: 43vw;
  width: 40vw;
}

.inDet>ul>li {
  position: relative;
  top: 0vw;
  left: 0vw;
  width: 40vw;
  font-size: 3vw;
  margin-bottom: 3vw;
  /* font-family: bullpen; */
}

.inDet>p{
  position: relative;
  top: 4vw;
  left: 0vw;
  font-size: 2vw;
  /* font-family: bullpen; */
}

#bottomImg {
  left: 18vw;
  bottom: 6vw;
  width: 50vw;
  height: 6vw;
  position: relative
}
#bottomImg>img {
  height: 8vw;
  width: 60vw;
  position: relative;
  bottom: 1vw;
  left: 10vw;
}

/* Original Footer CSS */

#footnav{
  text-align: left;
  padding-left: 3vw;
  color: #ffa500;
  font-size: 2.5vw;
  padding-top: .5vw;
}
#footcontain {
  position: relative;
  width: 100vw;
  height: 8vw;
  background-color: #222222;
  bottom: 0px;
  }
  footer {
    background-color: #222222;
    position: relative;
    z-index: 10;
    bottom: 0vw;
    height: 10vw;
  }
  
  /* greater than mobile - desktop view */
  @media screen and (min-width: 760px) {
    #footnav{
      text-align: left;
      padding-left: 3vw;
      color: #ffa500;
      font-size: 1.5vw;
      padding-top: 0;
    }
    #footcontain {
      position: relative;
      width: 100vw;
      height: 6.5vw;
      background-color: #222222;
      bottom: 0vw;
    }
    
  }