<footer>
    <div id="footcontain">
      <nav id = "" role ="navigation">
        <div id="footnavToggle">
           <ul id="footnav">
            <li><a href='/'>Home</a></li>
            <li><a href='/new'>Search Movies</a></li>
            <li><a href='/mymovies'>My Movies</a></li>
            <li><a href='/about'>About Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>