<header>
  <div id="headcontain">
    <nav id = "hamburger" role ="navigation">
      <div id="navToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="nav">
          <li><a href='/'>Home</a></li>
          <li><a href='/mymovies'>My Movies</a></li>
          <li><a href='/about'>About Us</a></li>
        </ul>
      </div>
    </nav>
    <img id="headstar" src="../styles/images/star1.png">
    <div id="headtitle">Star-Flix</div>
  </div>
</header>