<head>
  <title>Movie App</title>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Carter+One" rel="stylesheet">
  <link rel="stylesheet" href="/styles/reset.css"/>
  <link rel="stylesheet" href="/styles/base.css"/>
  <link rel="stylesheet" href="/styles/layout/header.css"/>
  <link rel="stylesheet" href="/styles/layout/footer.css"/>
  <link rel="stylesheet" href="/styles/modules/home-content.css"/>
  <link rel="stylesheet" href="/styles/modules/image-details.css"/>
  <link rel="stylesheet" href="/styles/modules/sort.css"/>
  <link rel="stylesheet" href="/styles/modules/search.css"/>
  <link rel="stylesheet" href="/styles/modules/results-page.css"/>
  <link rel="stylesheet" href="/styles/modules/saved-movies.css"/>
  <link rel="stylesheet" href="/styles/modules/review-page.css"/>
  <link rel="stylesheet" href="/styles/modules/animation.css"/>
  </head>