<header>
  
  <div id="headcontain">
  <nav id = "hamburger" role ="navigation">
    <div id="navToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="nav">
        <li><a href='/'></a>Home</a></li>
        <li><a href='/new'></a>Search Movies</a></li>
        <li><a href='/new'>Search Movies</a></li>
        <li><a href='/new'>My Movies</a></li>
        <li><a href='/new'>My Movies</a></li>
        <li><a href='/new'>About Us</a></li>
      </ul>
      </div>
  </nav>
</div>
<div id="headtitle">Best Books!</div>
</header>