
<form action = "/sort" method = "post" name="selectSort">
      Sort By: Rating
      <input type="radio" name="search" value="Rating" />
    </label>
    <label>
      Sort By: Popular With Kids
      <input type="radio" name="search" value="Popular With Kids" />
    </label>
    <label>
      Sort By: Popular This Year
      <input type="radio" name="search" value="Popular This Year" />
    </label>
    <button>Submit</button>

</form>


<ul id="popularMovies">
    <% popularMovies.forEach(movie => { %>
      <div id="imgcontain">
        <li  id="listimage" data-id="<%= popularMovies.id %>">
        <img class="homemovies" src="<%= movie.image_url %>">
        <h3 id="homemtitle"><%= movie.title %></h3>
        </li>
      </div>
    <% }) %>
  </ul>

  
 