<h2 id="poptitle">Popular Movies</h2>
<ul id="popularMovies">
    <% popularMovies.forEach(movie => { %>
      <div id="imgcontain">
        <li  id="listimage" data-id="<%= popularMovies.id %>">
        <img class="homemovies" src="<%= movie.image_url %>">
        <h3 id="homemtitle"><%= movie.title %></h3>
        </li>
      </div>
    <% }) %>
  </ul>