<div id="searchcontain">
    <img class="projector" src="../../styles/images/projector.jpg">
    <form class="search-form" action="/show" method="post">
      <label id="labelSearch">Movie Search: 
        <input type="text" name="movieSearch" id="movieSearch"/> 
      </label>
      <div id="glasses">
      <button id="searchbut">Search</button>
    </div>
    </form>
  </div>