<div id="sort-container">
<form action = "/sort" method = "post" name="selectSort">
  See Movies By: Rating 
  <input type="radio" name="search" value="Rating" />
</label>
<label>
  See Movies By: Popular With Kids
  <input type="radio" name="search" value="Popular With Kids" />
</label>
<label>
  See Movies By: Popular This Year
  <input type="radio" name="search" value="Popular This Year" />
</label>
<button id="sortbut">Submit</button>
</form>
</div>